In [4]:
import sqlite3
# Создание 1 таблицы
connection = sqlite3.connect('teachers.db')
cursor= connection.cursor()
query = """ CREATE TABLE School (
  School_Id INTEGER NOT NULL PRIMARY KEY,
  School_Name TEXT NOT NULL,
  Place_Count INTEGER NOT NULL);"""
cursor.execute(query)
connection.commit()
connection.close()

In [5]:
import sqlite3
# Наполнене 1 таблицы
connection = sqlite3.connect('teachers.db')
cursor= connection.cursor()
query = """ INSERT INTO School (School_Id , School_Name , Place_Count)
  VALUES
('1', 'Протон', 200),
('2', 'Преспектива', 300),
('3', 'Спектр', 400),
('4', 'Cодружество', 500);"""
cursor.execute(query)
connection.commit()
connection.close()

In [6]:
import sqlite3
# Создание 2 таблицы
connection = sqlite3.connect('teachers.db')
cursor= connection.cursor()
query = """ CREATE TABLE Teacher (
Teacher_Id INTEGER NOT NULL PRIMARY KEY,
Teacher_Name TEXT NOT NULL,
School_Id INTEGER NOT NULL,
Joining_Date TEXT NOT NULL,
Speciality TEXT NOT NULL,
Salary INTEGER NOT NULL,
Experience INTEGER);"""
cursor.execute(query)
connection.commit()
connection.close()

In [7]:
import sqlite3
# Наполнение 2 таблицы
connection = sqlite3.connect('teachers.db')
cursor= connection.cursor()
query = """ INSERT INTO Teacher (Teacher_Id, Teacher_Name, School_Id, Joining_Date, Speciality, Salary, Experience)
VALUES
('101', 'Галина', '1', '2021-2-10', 'Физик', '40000', NULL),
('102', 'Мария', '1', '2018-07-23', 'Химик', '20000', NULL),
('103', 'Ольга', '2', '2022-05-19', 'Информатик', '25000', NULL),
('104', 'Полина', '2', '2017-12-28', 'Физик ', '28000', NULL),
('105', 'Лидия', '3', '2015-06-04', 'Информатик', '42000', NULL),
('106', 'Анастасия', '3', '2019-09-11', 'Учитель трудов', '30000', NULL),
('107', 'Ирина', '4', '2020-08-21', 'Информатик', '32000', NULL),
('108', 'Виктория', '4', '2017-10-17', 'Географ', '30000', NULL);"""
cursor.execute(query)
connection.commit()
connection.close()

In [37]:
# Вывод данных по школе
import sqlite3

def get_connection():
  connection = sqlite3.connect('teachers.db')
  return connection

def close_connection(connection):
  if connection:
    connection.close()

def get_school(school_id):
  try:
    connection = get_connection()
    cursor = connection.cursor()
    query = """SELECT * FROM School WHERE School_Id = ?"""
    cursor.execute(query,(school_id,))
    records = cursor.fetchall()
    print ("Данные по школе:")
    for row in records:
      print ("ID школы:", row[0])
      print ("Название школы:", row[1])
    close_connection(connection)
  except (Exception, sqlite3.Error) as error:
    print ('Ошибка в получении данных ', error)

get_school(2)   #Cюда вводим 1,2,3,4

Данные по школе:
ID школы: 2
Название школы: Преспектива

In [2]:
import sqlite3
# Создание Students таблицы
connection = sqlite3.connect('teachers.db')
cursor= connection.cursor()
query = """ CREATE TABLE Students (
Student_Id Integer NOT NULL,
 Student_Name Text NOT NULL,
 School_Id Integer NOT NULL PRIMARY KEY);"""
cursor.execute(query)
connection.commit()
connection.close()

In [3]:
import sqlite3
# Наполнение Students таблицы
connection = sqlite3.connect('teachers.db')
cursor= connection.cursor()
query = """ INSERT INTO Students ( Student_Id, Student_Name, School_Id)
VALUES
('201', 'Иван', '1'),
('202', 'Петр', '2'),
('203', 'Анастасия', '3'),
('204', 'Игорь', '4');"""
cursor.execute(query)
connection.commit()
connection.close()

In [6]:
# Вывод данных по студенту
import sqlite3

def get_connection():
  connection = sqlite3.connect('teachers.db')
  return connection

def close_connection(connection):
  if connection:
    connection.close()

def get_stady(Student_Id):
  try:
    connection = get_connection()
    cursor = connection.cursor()
    query = """SELECT * FROM Students WHERE Student_Id = ?"""
    cursor.execute(query,(Student_Id,))
    records = cursor.fetchall()
    print ("Данные студента:")
    for а in records:
      print ("ID студента:", а[0])
      print ("Имя студента:", а[1])
    close_connection(connection)
  except (Exception, sqlite3.Error) as error:
    print ('Ошибка в получении данных ', error)

get_stady(203)   #Cюда вводим 201, 202, 203, 204

Данные студента:
ID студента: 203
Имя студента: Анастасия